<div class="container">
  <h3>app new book</h3><br>

  <form [formGroup]="bookFrom">
    <table>
      <tr>
        <td><label>tên: </label></td>
        <td><input type="text" formControlName="title"></td>
        <td><p *ngIf="!bookFrom.get('title')?.valid" style="color: red">không thể để trống</p></td>
      </tr>
      <tr>
        <td><label>tác giả: </label></td>
        <td><input type="text" formControlName="author"></td>
        <td><p *ngIf="!bookFrom.get('author')?.valid" style="color: red">không thể để trống</p></td>
      </tr>
      <tr>
        <td><label>Mô tả: </label></td>
        <td>
          <textarea type="text" formControlName="description" rows="4" cols="50"></textarea>
        </td>
        <td><p *ngIf="!bookFrom.get('description')?.valid" style="color: red"> > 3</p></td>
      </tr>
      <tr>
        <td><button class="btn btn-success" (click)="create()"  routerLink="">Create</button></td>
        <td><button class="btn btn-danger" routerLink="">Cancel</button></td>
      </tr>
    </table>
  </form>
</div>





